input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}
.titulo{
    text-align: center;
}
.contenedor_form{
    padding: 10px;
    margin: 10px;
    border: 2px solid #CED4DA;
    border-radius: 10px;
}
.fecha{
    width: 100%;
    padding: 15px 10px;
    border: #CED4DA solid 1px;
    text-transform: uppercase;
    color: #212529;
}
.fecha::selection{
    color: #212529;
    background-color: white;
}
.marco_btn{
    margin: 10px 10px 0px 10px;
}
.grafica{
    width: 100%;
    height: 10px;
}